@model HomeModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo(a) @Model.Nome !</h1>
    <br /><br />

    <style>
        .texto-destaque {
            font-size: 27px; /* Altere para o tamanho desejado */
            font-weight: inherit; /* Pode ser 'normal', 'bold', ou um número como 700 */
        }
    </style>

    <p class="texto-destaque">Sistema Fazenda Urbana - PIM &copy;</p>
</div>

