@{
    ViewData["Title"] =" Universidade Paulista -  Análise e Desenvolvimento de Sistemas ";
}
<h1>@ViewData["Title"]</h1>

<p> Sistema funcional de uma Fazenda Urbana para o Projeto Integrado Multidisciplinar.</p> <br />

