@{
    ViewData["Title"] = "Confirma&ccedil;&atilde;o de deletar cliente";
}

<div>
     <h3>Realmente deseja deletar o cliente?</h3>
</div>

<a class="btn btn-primary" role="button" asp-asp-controller="Cliente" asp-action="Apagar">Sim,deletar</a>
<a class="btn btn-danger" role="button" asp-controller="Cliente" asp-action="Index">N&atilde;o!</a>
