@model ProdutoModel
@{
    ViewData["Title"] = "Criar Produto";
}

<div class="text-center">

   
    <h1 class="display-4">Cadastrar Produto</h1>

</div>

<form asp-controller="Produto" asp-action="Criar" method="post">

    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" asp-for="Nome"  class="form-control" placeholder="Digite o nome do produto/alimento colhido">
           @Html.ValidationMessageFor(x => x.Nome)
    </div>

    <br />

    <div class="form-group">
        <label for="data">Data da colheita</label>
        <input type="text" asp-for="Data" class="form-control" placeholder="Digite a data da colheita">
        @Html.ValidationMessageFor(x => x.Data)
    </div>

    <br />

    <div class="form-group">
        <label for="quantidade">Quantidade</label>
        <input type="text" asp-for="Quantidade" class="form-control" placeholder="Digite a quantidade colhida">
        @Html.ValidationMessageFor(x => x.Quantidade)
    </div>

    <br />

    <div class="form-group">
        <label for="valor">Valor Unit.</label>
        <input type="text" asp-for="Valor" class="form-control" placeholder="Digite o valor unit&aacute;rio do produto/alimento colhido">
        @Html.ValidationMessageFor(x => x.Valor)
    </div>

    <br /> 
    <button type="submit" class="btn btn-primary">Adicionar</button>
    <a class="btn btn-secondary" asp-controller="produto" asp-action="Index" role="button">Voltar</a>
</form>